<div class="modal-header">
    <h3 class="modal-title">Configuración</h3>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="modal-body ">
            <form action="" class="form-horizontal">
                <fieldset class="form-group">
                    <label class="col-md-3 control-label">Nombre Evento</label>
                    <div class="col-md-9">
                        <input ng-model="config.eventName" type="text" class="form-control" placeholder="Nombre del Evento"/>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <label class="col-md-3 control-label">Twittet</label>
                    <div class="col-md-9">
                        <input ng-model="config.tweetFilter" type="text" class="form-control" placeholder="Ingrese un #HashTag a seguir"/>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <label class="col-md-3 control-label">Imagen de Fondo</label>
                    <div class="col-md-9">
                        <input class="btn btn-toolbar" type="file"/>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <div class="modal-body">
            <form action="" class="form-horizontal">
                <fieldset class="form-group">
                    <label class="col-md-3 control-label">Tiempo Actualizacion Tweets</label>
                    <div class="col-md-9">
                        <input ng-model="config.refreshTimeTweet" type="number" class="form-control" placeholder="Tiempo en segundos (default 5 segundos)"/>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <label class="col-md-3 control-label">Tiempo Actualizacion Tweets Filtrados</label>
                    <div class="col-md-9">
                        <input ng-model="config.refreshTimeTweetFiltered" type="text" class="form-control" placeholder="Tiempo en segundos (default 5 segundos)"/>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <label class="col-md-3 control-label">-----------</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" placeholder="-------------------"/>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <label class="col-md-3 control-label">---------------</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" placeholder="-------------------"/>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <label class="col-md-3 control-label">-------------</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" placeholder="-------------------"/>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Guardar</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
</div>
