<nav class="navbar navbar-inverse" ng-controller="ModalDemoCtrl">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand">Smd</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-click="open()"><a class="btn">Config</a></li>
                <li><a class="btn">Link</a></li>
                <li><a class="btn">Link</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="col-md-6">
    <!-- begin panel -->
    <div class="panel panel-inverse panel-back" data-sortable-id="ui-media-object-4">
        <div class="panel-heading">
            <div class="panel-heading-btn ">
                <a class="btn btn-sm btn-success" >Inicio</a>
                <a class="btn btn-sm btn-danger" >Stop</a>
                <a class="btn btn-sm btn-warning" >algo</a>
                <a class="btn btn-sm btn-default" >algo</a>
            </div>
            <h4 class="panel-title">Mensajes Recibidos</h4>
        </div>
        <div class="panel-body">
            <ul class="media-list media-list-with-divider" infinite-scroll="addTweet()" infinite-scroll-distance='2'>
                <li class="media media-sm" ng-repeat="item in list">
                    <a class="media-left">
                        <img src="https://scontent-gru1-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/11892243_10206542735241067_2551104827726358792_n.jpg?oh=956ac4dbf26a18ce5a2152bc925ede32&oe=56BA9506" alt="" class="media-object rounded-corner" />
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">@aleduarte06</h4>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, tempus viverra turpis.</p>
                        <p>
                            <a class="btn btn-sm btn-success m-r-5">Mostrar</a>
                            <!--<a class="btn btn-sm btn-default">Cancel</a>-->
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- end panel -->
</div>
<div class="col-md-6">
    <!-- begin panel -->
    <div class="panel panel-inverse panel-back" data-sortable-id="ui-media-object-4">
        <div class="panel-heading">
            <div class="panel-heading-btn hidden">
                <a class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Mensajes Recibidos</h4>
        </div>
        <div class="panel-body">
            <ul class="media-list media-list-with-divider" infinite-scroll="addTweet()" infinite-scroll-distance='2'>
                <li class="media media-sm" ng-repeat="item in list">
                    <a class="media-left">
                        <img src="https://scontent-gru1-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/11892243_10206542735241067_2551104827726358792_n.jpg?oh=956ac4dbf26a18ce5a2152bc925ede32&oe=56BA9506" alt="" class="media-object rounded-corner" />
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">@aleduarte06</h4>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, tempus viverra turpis.</p>
                        <p>
                            <a class="btn btn-sm btn-danger m-r-5">No mostrar</a>
                            <!--<a class="btn btn-sm btn-default">Cancel</a>-->
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- end panel -->
</div>


