.slide {
    transition: 0.7s linear all;
    position: relative;
}

.slide.ng-leave {
    opacity: 1;
    top: 0;
    height: 155px;
}

.slide.ng-leave-active {
    opacity: 0;
    top: -155px;
    height: 0;
}