.slide {
    transition: 0.7s linear all;
    position: relative;
}

.slide.ng-leave {
    opacity: 1;
    top: 0;
    height: 155px;
}

.slide.ng-leave-active {
    opacity: 0;
    top: -155px;
    height: 0;
}

.animate-if.ng-enter, .animate-if.ng-leave {
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter, .animate-if.ng-leave.ng-leave-active {
    opacity: 0;
}

#btn-iniciar {
    position: relative;
}
#btn-iniciar.ng-enter {
    right: -116px;
}
#btn-iniciar.ng-leave {
    right: -116px;
}

#tweetShow {
    position: relative;
}
#tweetShow.ng-enter {
    right: -120px;
}
#tweetShow.ng-leave {
    right: -120px;
}

.animate-if.ng-leave, .animate-if.ng-enter.ng-enter-active {
    opacity: 1;
}