/* app css stylesheet */
html{
  overflow: hidden;
}


.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}



/*content bg*/
.content {
  padding: 60px 15px 75px;
}
.content .content-title {
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 15px;
  margin-top: 0;
}
.content .content-title:after {
  content: '';
  display: block;
  position: absolute;
  width: 40px;
  background: #242a30;
  height: 2px;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
}
.content .content-desc {
  text-align: center;
  margin-bottom: 60px;
  color: #242a30;
}
.content.has-bg {
  padding-bottom: 60px;
  overflow: hidden;
  position: relative;
}
.content.has-bg .content-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.content.has-bg .content-bg img {
  max-width: 100%;
}
.content.has-bg .content-title:after {
  background: #fff;
}
.content.has-bg .content-bg:before {
  content: '';
  background: url(../img/content-bg-cover.png);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.content.has-bg .container {
  position: relative;
}
.content.has-bg .container .content-title {
  color: #fff;
}
.content.has-bg .container .content-desc {
  color: rgba(255,255,255,0.6);
}
.content.has-bg h1,
.content.has-bg h2,
.content.has-bg h3,
.content.has-bg h4,
.content.has-bg h5,
.content.has-bg h6 {
  color: dodgerblue;
}

/*content bg*/

.contenedor-index{
    margin-top: 50px; !important;
    height: 700px;

}
.front-twits{
    overflow: visible;
}
